*{
    font-family: "Rimouski";
}
body, html {
  height: 100%;
  margin: 0;
}
body{
   // background-color: rgb(22, 119, 126);
   background-image:url("weather.jpg");
// background-repeat:repeat;
  //background-size: auto;
// background-size: 100% 165%;
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
button.refresh {
    display: block;
    width: 90px;
    margin: 10px auto;
    border: 0;
    background: transparent;
    color: #9c9c9d;
    font-size: 30px;
    height: 30px;
    border-radius: 20%;
    box-shadow: 10px 4px 18px #252525, 5px 5px 18px #4a4a4a;
    transition: 0.3s;
color:black;
}
button.refresh:hover{
	box-shadow: inset 10px 4px 18px #252525, inset 5px 5px 18px #4a4a4a;
color:black;
}

.container{
    width: 300px;    
    background-color:powderblue;
    position: relative;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
	box-shadow: 10px 4px 18px #252525, 5px 5px 18px #4a4a4a;
    padding-bottom : 50px;
}
.container:hover{
	box-shadow: inset 10px 4px 18px #252525, inset 5px 5px 18px #4a4a4a;
}
.notification:hover{
	box-shadow: inset 10px 4px 18px #252525, inset 5px 5px 18px #4a4a4a;
}
.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
	border:black;
box-shadow: 10px 4px 18px #252525, 5px 5px 18px #4a4a4a;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 260px;
    background-color: #F4F9FF;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.5em;
}


.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}